.header{
    background-color: #7EC0EE;
    border-bottom: 1px white solid;
   
}

p{
    color: black;
    font-size: 15px;
}

body{
    background-color: #ABD1DD ;
}

.nav-list{
    display: flex;
}

h1{
    margin-left: 10px;
}

label{
    color: #DBEDF7;
}



footer{
    background-color: #CBE7F1;
    border: 1px white solid;
    position:fixed;
    width: 100%;
    bottom: 0%;

}

form{
    margin-top: 200px;
}

.footer-text{
    color: black;
    margin-left: 20px;
    padding-top: 13px;
}

ul{
    list-style: none;
}

.photo{
    height: 75px;
    width: 75px;
}

.block{
    height: 300px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
    /* border: 1px solid black; */
    /* margin-right: 20px; */

}

.product-name{
    font-size: 20px;
}

.price{
    margin-top: 10px;
}

#purchase-button, .signup-btn{
    background-color: 	#7EC0EE;
    border: 1px white solid;
}

.about-img{
    margin-bottom: 20px;
    height: 300px;
    width: 500;

}

.owner-img{
    width: 500;
    height: 300px;
    margin-bottom: 20px;
}

.register{
    text-align: center;
    margin-top: 50px;
}

.signup-btn, .contact-header{
    margin-left: 35px;
}

@media (max-width: 997px) {
    .block{
        width: 75px;
        height: 300px;
        margin-bottom: 30px;
    }
    .product-name{
        font-size: 15px;
    }
}

@media (max-width: 500px){
    footer{
       margin-top: 20px;
    }
}

@media (max-width: 370px) {
    .logo{
        width: 200px;
        height: 30px;
    }
}

.about-text, .about-owner-paragraph{
    font-size: 18px;
}

.about-header, .about-owner{
    font-size: 25px;
}